{% load static %}

<!DOCTYPE html>
<HTML>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles#two.css' %}">
  
</head>
<body>
    <!-- header -->
    <div class="header-content">
        <a  class="logo"  href="{% url 'home' %}" ><strong> Yosselin Meza | Portfolio </strong></a>
            <div class="btn-placement">
                <a href="{% url 'home' %}" class="button-styles">Home</a>
                <span aria-hidden="true">|</span>
                <a href="{% url 'about' %}" class="button-styles">About Me</a>
                <span aria-hidden="true">|</span>
                <a href="{% url 'project' %}" class="button-styles">Projects</a>
                <span aria-hidden="true">|</span>
                <a href="{% url 'contact' %}" class="button-styles" >Contact</a>
            </div>
    </div>
    <!-- the end of header -->


    <!-- header section -->
    <div class="position">
        <img src="{% static 'image/headshot(2).jpg' %}" alt="Yosselin Meza" class="img-position">
        <div>
            <h1><strong>Yosselin Meza</strong></h1>
            <p>Entry-level Data analyst & Data Scientist</p>
        </div>
    </div>
    <!-- header section ends-->


    <!-- background information box -->
    <div class="info-box">
        <div class="text-position">
            <img src="{% static 'image/badge.png'%}" alt="Professional Background img" class="img-size">
            <p><strong>Professional Background</strong></p>
        </div>
        <div class="contact-text">
            <p>background infromation goes here</p>
        </div>
    </div>
    <!-- background information box ends -->
    
    
    <!-- work experience information box -->
    <div class="text-position-two">
        <img src="{% static 'image/briefcase.png' %}"  alt="work experience img"   class="img-size">
        <p><strong>Work Experience</strong></p>
    </div>
    <!-- first work experience  -->
    <div class="info-box">
        <div>
            <p> work exprience information goes here</p>
        </div>
    </div>
    <!-- second work experience  -->
    <div class="info-box">
        <div class="contact-text">
            <p><strong>IT Student Assistant</strong></p>
            <ul>
                <li>I adapt to various IT departments, including Desktop Support, IT Service Desk, and IT Projects.</li>
                <li>I provide on-site support by troubleshooting and repairing hardware/software issues, as well as reimaging or degaussing systems as needed.</li>
                <li>Assist customers in-person at the IT Service Desk and remotely via phone through IT Services, resolving a wide range of technical issues.</li>
                <li>I also supported IT project teams by collecting, organizing, and cleaning data to facilitate system improvements and service enhancements</li>
            </ul>
        </div>
    </div>
    <!-- third work experience  -->
    <div class="info-box">
        <div class="contact-text">
            <p><strong>Supplemental Instruction Leader</strong></p>
            <ul>
                <li>Developed and presented weekly study materials, including PowerPoint presentations, study guides, and practice quizzes, aligning with lecture topics to reinforce student learning.</li>
                <li>Implementing diverse study strategies, retrieval-based learning activities, and leading group discussions tailored to address challenging topics that helped 50+ students’ academic success.</li>
            </ul>
        </div>
        
    </div>

    <!-- work experience ends -->








    <!-- Footer of the page -->
    <footer class="py-4 my-4 border-top">
        <div class="container-fluid col-md-11 d-flex flex-wrap justify-content-between align-items-start">
            <div class="d-flex align-items-center">
                <a href="/" class="me-2 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> <svg
                        class="bi" width="30" height="24" aria-hidden="true">
                        <use xlink:href="#bootstrap"></use>
                    </svg> </a>
                <div class="d-flex flex-column">
                    <span class="fw-bold mb-0">Portfolio</span>
                    <span class="text-body-secondary small">© 2026 Yosselin Meza. All rights reserved.</span>
                </div>
            </div>
            <div class="d-flex gap-5 text-center text-md-start mt-3 mt-md-0">
                <div>
                    <p class="fw-bold mb-2 text-center">Quick links</p>
                    <ul class="nav flex-column align-items-center">
                        <li class="nav-item mb-1"><a href="{% url 'home' %}"
                                class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-1"><a href="{% url 'about' %}"
                                class="nav-link p-0 text-body-secondary">About Me</a></li>
                        <li class="nav-item mb-1"><a href="{% url 'project' %}"
                                class="nav-link p-0 text-body-secondary">Project</a></li>
                    </ul>
                </div>
                <div class="footer-icons">
                    <p class="fw-bold mb-2 text-center">Connect</p>
                    <div class="icons">
                        <a href="https://github.com/Yosselin993" target="_blank" class="nav-link p-0 text-body-secondary"><img class="icon" src="{% static 'image/github.png' %}" alt="GitHub"></a>
                        <a href="https://www.linkedin.com/in/yosselin-meza-b12b18340"target="_blank" class="nav-link p-0 text-body-secondary"><img class="icon" src="{% static 'image/linkedin.png' %}" alt="LinkedIn"> </a>
                        <a href="{% url 'contact' %}" class="nav-link p-0 text-body-secondary"><img class="icon" src="{% static 'image/email.png' %}" alt="Email"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of footer -->


</body>
</HTML>