{% load static %}

<!DOCTYPE html>
<HTML>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- header -->
    <div class="header-content">
        <a  class="logo"  href="{% url 'home' %}" ><strong> Yosselin Meza | Portfolio </strong></a>
            <div class="btn-placement">
                <a href="{% url 'home' %}" class="button-styles">Home</a>
                <span aria-hidden="true">|</span>
                <a href="{% url 'about' %}" class="button-styles">About Me</a>
                <span aria-hidden="true">|</span>
                <a href="{% url 'project' %}" class="button-styles">Projects</a>
                <span aria-hidden="true">|</span>
                <a href="{% url 'contact' %}" class="button-styles" >Contact</a>
            </div>
    </div>
    <!-- the end of header -->







    <!-- Footer of the page -->
    <footer class="py-4 my-4 border-top">
        <div class="container-fluid col-md-11 d-flex flex-wrap justify-content-between align-items-start">
            <div class="d-flex align-items-center">
                <a href="/" class="me-2 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> <svg
                        class="bi" width="30" height="24" aria-hidden="true">
                        <use xlink:href="#bootstrap"></use>
                    </svg> </a>
                <div class="d-flex flex-column">
                    <span class="fw-bold mb-0">Portfolio</span>
                    <span class="text-body-secondary small">© 2026 Yosselin Meza. All rights reserved.</span>
                </div>
            </div>
            <div class="d-flex gap-5 text-center text-md-start mt-3 mt-md-0">
                <div>
                    <p class="fw-bold mb-2 text-center">Quick links</p>
                    <ul class="nav flex-column align-items-center">
                        <li class="nav-item mb-1"><a href="{% url 'home' %}"
                                class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-1"><a href="{% url 'about' %}"
                                class="nav-link p-0 text-body-secondary">About Me</a></li>
                        <li class="nav-item mb-1"><a href="{% url 'project' %}"
                                class="nav-link p-0 text-body-secondary">Project</a></li>
                    </ul>
                </div>
                <div class="footer-icons">
                    <p class="fw-bold mb-2 text-center">Connect</p>
                    <div class="icons">
                        <a href="https://github.com/Yosselin993" target="_blank" class="nav-link p-0 text-body-secondary"><img class="icon" src="{% static 'image/github.png' %}" alt="GitHub"></a>
                        <a href="https://www.linkedin.com/in/yosselin-meza-b12b18340"target="_blank" class="nav-link p-0 text-body-secondary"><img class="icon" src="{% static 'image/linkedin.png' %}" alt="LinkedIn"> </a>
                        <a href="{% url 'contact' %}" class="nav-link p-0 text-body-secondary"><img class="icon" src="{% static 'image/email.png' %}" alt="Email"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of footer -->



</body>
</HTML>